body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'corpoM','corpoB',"logotypejp_mp_b","コーポレート・ロゴＢ","Noto Sans CJK JP Heavy","OmePlus P Gothic medium",/*"MLRPG",*/ "07鉄瓶ゴシック","なごみ極細ゴシック 特細","JFドットM+H12","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial,"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#FFFFFF;
	word-break: break-all;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
    /* opacity: 0.98; */
}

/* base */
#base {
    position: absolute;
    width: 1920px;
    height: 250px;
    top: 0px;
    /* background-color: #f00; */
    /* opacity: 0.99; */
}

#l-bar {
    position: absolute;
    width: 400px;
    height: 35px;
    top: 65px;
    left: 366px;
    /* background-color: #505050; */
    /* background: linear-gradient(0deg, #8b8b8b, #505050); */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
}

#r-bar {
    position: absolute;
    width: 400px;
    height: 35px;
    top: 65px;
    right: 366px;
    /* background-color: #505050; */
    /* background: linear-gradient(0deg, #8b8b8b, #505050); */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

#stage {
    position: absolute;
    width: 400px;
    height: 35px;
    top: 0px;
    right: 20px;
    /* margin-right: 20px; */
    color: white;
    text-align: right;
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: aquamarine; */

    font-family: "corpoM";
}

#bestofN {
    position: absolute;
    width: 400px;
    height: 35px;
    top: 0px;
    left: 20px;
    /* margin-left: 20px; */
    color: white;
    text-align: left;
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: aquamarine; */

    font-family: "corpoM";
}

#l-name {
    position: absolute;
    width: 450px;
    height: 60px;
    top: 0px;
    left: 308px;
    /* background-color: #171717; */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 100%, 12px 100%);
    border-top: 5px solid #b61b1b;
}

#l-name::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 5px;
    left: 0px;
    top: 95px;
    /* background: linear-gradient(-90deg, #FE3334 0%, #FE3334 60%, #000 100%); */
    /* background-color: #FE3334; */
    /* border-bottom: 5px solid #298BFF; */
}

#player1 {
    position: absolute;
    /* width: 400px;
    height: 95px; */
    /* top: 100px; */
    right: 0px;
    /* margin-right: 20px; */
    text-align: right;
    line-height: 60px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'corpoB';
    z-index: 5;
    /* background-color: red; */
}

#gf-wl1 {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 0px;
    left: 13px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    opacity: 0;
    /* background-color: red; */
}

#l-score {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 745px;
    /* background-color: #FE3334; */
    background: linear-gradient(0deg, #FE3334, #b61b1b);
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
}

#score1 {
    position: absolute;
    width: 100px;
    height: 100px;
    /* top: 840px; */
    /* left: 360px; */
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'corpoM';
    color: white;
    /* background-color: blue; */
}

#r-name {
    position: absolute;
    width: 450px;
    height: 60px;
    top: 0px;
    border-top: 5px solid #16529b;
    right: 308px;
    /* background-color: #171717; */
    background: linear-gradient(0deg, #333333, #000);
    /* border-bottom: 5px solid #298BFF; */
    clip-path: polygon(12px 0, 100% 0, calc(100% - 12px) 100%, 0 100%);
}

#r-name::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 5px;
    left: 0px;
    top: 95px;
    /* background: linear-gradient(90deg, #298BFF 0%, #298BFF 60%, #000 100%); */
    /* background-color: #298BFF; */
    /* border-bottom: 5px solid #298BFF; */
}

#player2 {
    position: absolute;
    /* width: 400px;
    height: 95px; */
    /* top: 100px; */
    left: 0px;
    /* margin-left: 20px; */
    text-align: left;
    line-height: 60px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'corpoB';
    z-index: 5;
    /* background-color: red; */
}

#gf-wl2 {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 0px;
    right: 13px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    opacity: 0;
    /* background-color: aqua; */
}

#r-score {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    right: 745px;
    /* background-color: #298BFF; */
    background: linear-gradient(0deg, #298BFF, #16529b);
    clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
}

#score2 {
    position: absolute;
    width: 100px;
    height: 100px;
    /* top: 840px; */
    /* left: 360px; */
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'corpoM';
    color: white;
    /* background-color: blue; */
}

#boN-bg {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 0px;
    left: 825px;
    /* background-color: #000; */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 12px 100%);
}

/* bo3-scorebar */
#bo3-scorebar {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 0px;
    left: 825px;
    opacity: 0;
    /* background-color: #000; */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 12px 100%);
}

#bo3-scorebar div {
    width: 83.3px;
    height: 40px;
    top: 10px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'corpoM';
    line-height: 40px;
    color: white;
    /* border: solid black;
    border-width: 4px 2px 4px 2px;
    box-sizing: border-box; */
}

.bo3-game1 {
    left: 10px;
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
}

.bo3-game2 {
    left: 93.3px;
    clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 8px 100%);
}

.bo3-game3 {
    right: 10px;
    clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

/* bo5-scorebar */
#bo5-scorebar {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 0px;
    left: 825px;
    opacity: 0;
    /* background-color: #000; */
    background: linear-gradient(0deg, #333333, #000);
    clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 12px 100%);
}

#bo5-scorebar div {
    /* width: 54px; */
    width: 50px;
    height: 40px;
    top: 10px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    line-height: 40px;
    color: white;
    /* border: solid black; */
    /* border-style: solid;
    border-color: #000;
    border-width: 4px 2px 2px 2px;
    box-sizing: border-box; */
}

.bo5-game1 {
    left: 10px;
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
}

.bo5-game2 {
    left: 60px;
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
}

.bo5-game3 {
    left: 110px;
    clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 8px 100%);
}

.bo5-game4 {
    right: 60px;
    clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.bo5-game5 {
    right: 10px;
    clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.ss-num {
    z-index: 10;
}

.ss-no {
    background: linear-gradient(0deg, #696969, #3a3a3a);
    z-index: 9;
    opacity: 0;
}

.ss-red {
    /* background-color: #FE3334; */
    background: linear-gradient(0deg, #FE3334, #b61b1b);
    z-index: 9;
    opacity: 0;
}

.ss-blue {
    /* background-color: #298BFF; */
    background: linear-gradient(0deg, #298BFF, #16529b);
    z-index: 9;
    opacity: 0;
}

.ss-bg {
    background-color: #505050;
    z-index: 8;
}

/* .no {
    background: rgba(0, 0, 0, 0.7);
}

.p1 {
    background: rgba(254, 51, 52, 0.7);
}

.p2 {
    background: rgba(41, 139, 255, 0.7);
} */

.hidden {
	display: none;
}