body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'corpoM','corpoB',"logotypejp_mp_b","コーポレート・ロゴＢ","Noto Sans CJK JP Heavy","OmePlus P Gothic medium",/*"MLRPG",*/ "07鉄瓶ゴシック","なごみ極細ゴシック 特細","JFドットM+H12","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial,"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#FFFFFF;
	word-break: break-all;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#base {
    position: absolute;
    width: 900px;
    height: 100px;
    top: 20px;
    left: 510px;
    background-color: #171717;
    border-bottom: 5px solid #FE3334;
    /* opacity: 0.99; */
}

#base::before {
    content: "";
    position: absolute;
    width: 450px;
    height: inherit;
    left: 450px;
    border-bottom: 5px solid #298BFF;
}

#top-bar {
    position: absolute;
    width: 900px;
    height: 40px;
    top: 20px;
    left: 510px;
    background-color: #000;
}

#stage {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 20px;
    left: 510px;
    padding-left: 20px;
    color: white;
    text-align: left;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: aqua; */

    font-family: "corpoM";
}

#bestofN {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 20px;
    right: 510px;
    padding-right: 20px;
    color: white;
    text-align: right;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    /* background-color: aquamarine; */

    font-family: "corpoM";
}

/* 左プレイヤー */
#player1 {
    position: absolute;
    /* width: 300px;
    height: 60px; */
    top: 60px;
    left: 510px;
    padding-left: 20px;
    text-align: left;
    line-height: 60px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'corpoB';
    z-index: 5;
    /* background-color: red; */
}

#gf-wl1 {
    position: absolute;
    width: 40px;
    height: 60px;
    top: 60px;
    left: 830px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'corpoM';
    z-index: 5;
    opacity: 0;
    /* background-color: aqua; */
}

/* 左スコア */
#score1 {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 60px;
    left: 870px;
    text-align: right;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'corpoM';
    /* color: rgb(254, 51, 52); */
    color: white;
    z-index: 6;
    /* background-color: blue; */
}

#score-center {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 60px;
    left: 935px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'corpoM';
    /* background-color: aqua; */
}

/* 右スコア */
#score2 {
    position: absolute;
    width: 65px;
    height: 60px;
    top: 60px;
    right: 870px;
    text-align: left;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'corpoM';
    /* color: rgb(41, 139, 255); */
    color: white;
    z-index: 6;
    /* background-color: pink; */
}

#gf-wl2 {
    position: absolute;
    width: 40px;
    height: 60px;
    top: 60px;
    right: 830px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'corpoM';
    z-index: 5;
    opacity: 0;
    /* background-color: aqua; */
}

/* 右プレイヤー */
#player2 {
    position: absolute;
    /* width: 300px;
    height: 60px; */
    top: 60px;
    right: 510px;
    padding-right: 20px;
    text-align: right;
    line-height: 60px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'corpoB';
    z-index: 5;
    /* background-color: gold; */
}

/* bo3-scorebar */
#bo3-scorebar {
    position: absolute;
    width: 156px;
    height: 40px;
    top: 20px;
    left: 882px;
    opacity: 0;
}

#bo3-scorebar div {
    width: 52px;
    height: 40px;
    top: 0px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    line-height: 32px;
    color: white;
    border: solid black;
    border-width: 4px 2px 4px 2px;
    box-sizing: border-box;
}

#bo3-game1 {
    left: 0px;
}

#bo3-game2 {
    left: 52px;
}

#bo3-game3 {
    left: 104px;
}

/* bo5-scorebar */
#bo5-scorebar {
    position: absolute;
    width: 260px;
    height: 40px;
    top: 20px;
    left: 830px;
    opacity: 0;
    /* background-color: aqua; */
}

#bo5-scorebar div {
    width: 52px;
    height: 40px;
    top: 0px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    line-height: 32px;
    color: white;
    border: solid black;
    border-width: 4px 2px 4px 2px;
    box-sizing: border-box;
}

#bo5-game1 {
    left: 0px;
}

#bo5-game2 {
    left: 52px;
}

#bo5-game3 {
    left: 104px;
}

#bo5-game4 {
    left: 156px;
}

#bo5-game5 {
    left: 208px;
}

/* .no {
    background: rgba(0, 0, 0, 0.7);
}

.p1 {
    background: rgba(254, 51, 52, 0.7);
}

.p2 {
    background: rgba(41, 139, 255, 0.7);
} */

.hidden {
	display: none;
}