body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'corpoM','corpoB',"logotypejp_mp_b","コーポレート・ロゴＢ","Noto Sans CJK JP Heavy","OmePlus P Gothic medium",/*"MLRPG",*/ "07鉄瓶ゴシック","なごみ極細ゴシック 特細","JFドットM+H12","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial,"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#FFFFFF;
	word-break: break-all;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    background-image: url('../imgs/scoreboard.png');
    background-size: 1920px 1080px;
}

/* #stagebackground {
    position: absolute;
    width: 256px;
    height: 65px;
    top: 33px;
    left: 11px;
    background-image: url(../imgs/stage.png);
    background-size: 256px 65px;
} */
#stagebackground {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-size: 1920px 1080px;
}

#stage {
    position: absolute;
    width: 225px;
    height: 56px;
    top: 40px;
    left: 37px;
    color: #333;
    text-align: center;
    line-height: 56px;
    font-size: 25px;
    font-weight: bold;
    font-family: "游明朝", "YuMincho", serif;
}

#pName1 {
    position: absolute;
    width: 390px;
    height: 70px;
    top: 41px;
    left: 385px;
    text-align: center;
    line-height: 70px;
    color: #333;
    font-size: 35px;
    font-weight: bold;
    font-family: "游明朝", "YuMincho", serif;
}

#score1background {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 40px;
    left: 282px;
    background-size: 85px 78px;
}

#pScore1 {
    position: absolute;
    width: 60px;
    height: 70px;
    top: 41px;
    left: 775px;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    font-family: "游明朝", "YuMincho", serif;
}

#score2background {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 40px;
    right: 282px;
    background-size: 85px 78px;
}

#pScore2 {
    position: absolute;
    width: 60px;
    height: 70px;
    top: 41px;
    right: 775px;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    font-family: "游明朝", "YuMincho", serif;
}

#pName2 {
    position: absolute;
    width: 390px;
    height: 70px;
    top: 41px;
    right: 385px;
    text-align: center;
    line-height: 70px;
    color: #333;
    font-size: 35px;
    font-weight: bold;
    font-family: "游明朝", "YuMincho", serif;
}

.hidden {
	display: none;
}