body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'corpoM','corpoB',"logotypejp_mp_b","コーポレート・ロゴＢ","Noto Sans CJK JP Heavy","OmePlus P Gothic medium",/*"MLRPG",*/ "07鉄瓶ゴシック","なごみ極細ゴシック 特細","JFドットM+H12","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial,"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#FFFFFF;
	word-break: break-all;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#background {
    position: absolute;
    top: 20px;
    left: 335px;
    width: 1250px;
    height: 154px;
    background-image: url('../imgs/itsukushima-scoreboard-long-赤青グラデ.png');
    background-size: 1250px 154px;
}

#stagebackground {
    position: absolute;
    width: 256px;
    height: 65px;
    top: 33px;
    left: 11px;
    background-image: url(../imgs/stage.png);
    background-size: 256px 65px;
}

#cb_upperColumn {
    position: absolute;
    width: 211px;
    height: 50px;
    top: 40px;
    left: 33px;
    color: white;
    font: bold;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
}

#cb_team1 {
    position: absolute;
    width: 423px;
    height: 40px;
    top: 67px;
    left: 467px;
    text-align: center;
    /* line-height: 40px; */
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
}

#score1background {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 40px;
    left: 282px;
    background-image: url(../imgs/紅葉イラスト.png);
    background-size: 85px 78px;
}

#cb_team1_score {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 45px;
    left: 282px;
    text-align: center;
    line-height: 78px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#score2background {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 40px;
    right: 282px;
    background-image: url(../imgs/紅葉イラスト.png);
    background-size: 85px 78px;
}

#cb_team2_score {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 45px;
    right: 282px;
    text-align: center;
    line-height: 78px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#cb_team2 {
    position: absolute;
    width: 423px;
    height: 40px;
    top: 67px;
    right: 467px;
    text-align: center;
    /* line-height: 80px; */
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
}

.hidden {
	display: none;
}