:root {
    --player-back-color: rgb(255, 50, 23);
    --player-font-color: #eee;
    --player-bar-color: #eee;
    --score-back-color: #027867;
    --score-font-color: #eee;
    --score-bar-color: #eee;
    --stage-font-color: #eee;
    --tournament-bar-color: #eee;
    --tournament-bar-wincolor: #f00;
    --team-borderwidth: 0px;
    --team-font-color: #eee;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

#container-team-tournament {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.team {
    position: absolute;
    width: 150px;
    height: 350px;
    top: 450px;
    background: linear-gradient(180deg, #da2a00, #fe7700);
    border: var(--score-back-color) solid var(--team-borderwidth);
    box-sizing: border-box;
    z-index: 10;
}

#team1 {
    left: 360px;
}

#team2 {
    left: 710px;
}

#team3 {
    right: 710px;
}

#team4 {
    right: 360px;
}

#tt_team1 {
    position: relative;
    width: calc(150px - var(--team-borderwidth)*2);
    height: calc(350px - var(--team-borderwidth)*2);
    top: 0;
    left: 0px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--team-font-color);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: calc(150px - var(--team-borderwidth)*2);
}

#tt_team2 {
    position: relative;
    width: calc(150px - var(--team-borderwidth)*2);
    height: calc(350px - var(--team-borderwidth)*2);
    top: 0;
    left: 0px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--team-font-color);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: calc(150px - var(--team-borderwidth)*2);
}

#tt_team3 {
    position: relative;
    width: calc(150px - var(--team-borderwidth)*2);
    height: calc(350px - var(--team-borderwidth)*2);
    top: 0;
    left: 0px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--team-font-color);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: calc(150px - var(--team-borderwidth)*2);
}

#tt_team4 {
    position: relative;
    width: calc(150px - var(--team-borderwidth)*2);
    height: calc(350px - var(--team-borderwidth)*2);
    top: 0;
    left: 0px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--team-font-color);
    writing-mode: vertical-rl;
    text-align: center;
    line-height: calc(150px - var(--team-borderwidth)*2);
}

/* トーナメント表 */
#bracket_round1_left {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    left: 432.5px;
    width: 355px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-color);
    border-right: solid 5px var(--tournament-bar-color);
    border-left: solid 5px var(--tournament-bar-color);
    z-index: 1;
}

#bracket_round1_right {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    right: 432.5px;
    width: 355px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-color);
    border-right: solid 5px var(--tournament-bar-color);
    border-left: solid 5px var(--tournament-bar-color);
    z-index: 1;
}

#bracket_round2 {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 607.5px;
    width: 705px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-color);
    border-right: solid 5px var(--tournament-bar-color);
    border-left: solid 5px var(--tournament-bar-color);
    z-index: 1;
}

#bracket_winner {
    position: absolute;
    box-sizing: border-box;
    top: 200px;
    left: 957.5px;
    width: 705px;
    height: 50px;
    border-left: solid 5px var(--tournament-bar-color);
    z-index: 1;
}

#bracket_round1_left_left_border {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    left: 432.5px;
    width: 180px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    border-left: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round1_left_right_border {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    left: 607.5px;
    width: 180px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    border-right: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round1_left_top_border {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 607.5px;
    width: 705px;
    height: 105px;
    border-left: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round1_right_left_border {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    right: 607.5px;
    width: 180px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    border-left: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round1_right_right_border {
    position: absolute;
    box-sizing: border-box;
    top: 350px;
    right: 432.5px;
    width: 180px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    border-right: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round1_right_top_border {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 607.5px;
    width: 705px;
    height: 105px;
    border-right: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round2_left_border {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 607.5px;
    width: 355px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round2_right_border {
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    right: 607.5px;
    width: 355px;
    height: 100px;
    border-top: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

#bracket_round2_top_border {
    position: absolute;
    box-sizing: border-box;
    top: 200px;
    left: 957.5px;
    width: 705px;
    height: 55px;
    border-left: solid 5px var(--tournament-bar-wincolor);
    z-index: 2;
    opacity: 0;
}

.hidden {
	display: none;
}