body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'corpoM','corpoB',"logotypejp_mp_b","コーポレート・ロゴＢ","Noto Sans CJK JP Heavy","OmePlus P Gothic medium",/*"MLRPG",*/ "07鉄瓶ゴシック","なごみ極細ゴシック 特細","JFドットM+H12","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial,"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#FFFFFF;
	word-break: break-all;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#background {
    position: absolute;
    top: 12px;
    width: 1920px;
    height: 1080px;
    background-image: url('../imgs/scoreboard-3.png');
    background-size: 1920px 1080px;
}

#stagebackground {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url(../imgs/Round.png);
    background-size: 1920px 1080px;
}

#cb_upperColumn {
    position: absolute;
    width: 240px;
    height: 50px;
    top: 39px;
    left: 29px;
    color: white;
    font: bold;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
}

#cb_team1 {
    position: absolute;
    width: 403px;
    height: 40px;
    top: 63px;
    left: 467px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'corpoM';
}

#score1background {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 40px;
    left: 282px;
    background-image: url(../imgs/桜.png);
    background-size: 85px 85px;
}

#cb_team1_score {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 47px;
    left: 282px;
    text-align: center;
    line-height: 78px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#score2background {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 40px;
    right: 282px;
    background-image: url(../imgs/桜.png);
    background-size: 85px 85px;
}

#cb_team2_score {
    position: absolute;
    width: 85px;
    height: 78px;
    top: 47px;
    right: 282px;
    text-align: center;
    line-height: 78px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

#cb_team2 {
    position: absolute;
    width: 403px;
    height: 40px;
    top: 63px;
    right: 467px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'corpoM';
}

.hidden {
	display: none;
}