body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    font-family: "corpoB";
}

.player {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 850px;
}

#player1 {
    left: 300px;
}

#player2 {
    right: 300px;
}

.mic {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
    background-image: url(../imgs/マイク.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 10;
}

.name {
    position: relative;
    width: 100%;
    height: 100px;
    top: 0px;
    /* background-color: white; */
    background: linear-gradient(to bottom, white 50%, rgb(216, 216, 216));
    /* background-color: rgb(255, 50, 23); */
    /* background: linear-gradient(to bottom, rgb(255, 50, 23) 50%, rgb(216, 43, 20)); */
    /* background: linear-gradient(to bottom, #da2a00 10%, #fe7800); */
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    /* color: white; */
    color: #171717;
}

.twitterID {
    position: relative;
    width: 100%;
    height: 50px;
    top: 12px;
    /* background: linear-gradient(to bottom, #027867 50%, #045a4d); */
    /* background-color: rgb(255, 50, 23); */
    background-color: #171717;
    border-radius: 10px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    /* color: #fe7800; */
    /* color: #171717; */
    color: white;
}