body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    font-weight: bold;
    font-family: "游明朝", "YuMincho", serif;
    background-image: url('../imgs/実況解説背景.png');
    background-size: 1920px 1080px;
}

.mic1 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 920px;
    left: 80px;
    background-image: url(../imgs/マイク.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 10;
}

.mic2 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 980px;
    left: 80px;
    background-image: url(../imgs/マイク.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 10;
}

.name1 {
    position: absolute;
    width: 310px;
    height: 70px;
    top: 901px;
    left: 142px;
    font-size: 35px;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
    color: #333;
}

.name2 {
    position: absolute;
    width: 310px;
    height: 70px;
    top: 964px;
    left: 142px;
    font-size: 35px;
    font-weight: bold;
    line-height: 70px;
    text-align: left;
    color: #333;
}

.twitterID {
    display: none;
}