:root {
    --player-back-color: rgb(255, 50, 23);
    --player-font-color: #eee;
    --player-bar-color: #eee;
    --score-back-color: #027867;
    --score-font-color: #eee;
    --score-bar-color: #eee;
    --stage-font-color: #eee;
    --tournament-bar-color: #eee;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

#container-top8 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 50px;
    opacity: 1;
}

#title {
    position: absolute;
    width: 800px;
    height: 150px;
    top: 0px;
    left: 560px;
    font-family: "corpoM";
    font-size: 50px;
    line-height: 150px;
    text-align: center;
    color: white;
}

.match {
    position: absolute;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.match .player {
    position: relative;
    width: 245px;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: var(--player-back-color);
    box-shadow: 10px 10px 15px -10px;
}

.match .player::before {
    content: '';
    display: block;
    width: 225px;
    height: 1px;
    top: 50px;
    left: 10px;
    background-color: var(--player-bar-color);
    position: absolute;
}

.match .player .p1name {
    position: relative;
    width: 225px;
    height: 50px;
    top: 0;
    left: 10px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--player-font-color);
}

.match .player .p2name {
    position: relative;
    width: 225px;
    height: 50px;
    top: 0;
    left: 10px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--player-font-color);
}

.match .score {
    position: relative;
    width: 50px;
    height: 100px;
    top: 0;
    right: 0;
    background-color: var(--score-back-color);
    box-shadow: 10px 10px 15px -10px;
}

.match .score::before {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    top: 50px;
    left: 10px;
    background-color: var(--score-bar-color);
    position: absolute;
}

.match .score .p1score {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    text-align: center;
    color: var(--score-font-color);
}

.match .score .p2score {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    text-align: center;
    color: var(--score-font-color);
}

/* Winners Semi Final */
#w-sf1 {
    top: 250px;
    left: 50px;
}

#w-sf1::before {
    content: "Winners Semi Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

#w-sf2 {
    top: 400px;
    left: 50px;
}

/* Winners Final */
#w-f {
    top: 325px;
    left: 750px;
}

#w-f::before {
    content: "Winners Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

/* Losers TOP8 */
#l-top8-1 {
    top: 700px;
    left: 50px;
}

#l-top8-1::before {
    content: "Losers Top8";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

#l-top8-2 {
    top: 850px;
    left: 50px;
}

/* Losers Quarter Final */
#l-qf1 {
    top: 700px;
    left: 400px;
}

#l-qf1::before {
    content: "Losers Quarter Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

#l-qf2 {
    top: 850px;
    left: 400px;
}

/* Losers Semi Final */
#l-sf {
    top: 775px;
    left: 750px;
}

#l-sf::before {
    content: "Losers Semi Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

/* Losers Final */
#l-f {
    top: 775px;
    left: 1100px;
}

#l-f::before {
    content: "Losers Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

/* Grand Final */
#gf {
    top: 325px;
    left: 1450px;
}

#gf::before {
    content: "Grand Final";
    position: absolute;
    width: 300px;
    height: 50px;
    top: -45px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'corpoM';
    color: var(--stage-font-color);
    text-shadow: 3px 3px 4px #000;
}

/* トーナメント表 */
#wsf-to-wf .parts1 {
    position: absolute;
    top: 300px;
    left: 355px;
    width: 20px;
    height: 150px;
    border-top: solid 2px var(--tournament-bar-color);
    border-right: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#wsf-to-wf .parts2 {
    position: absolute;
    top: 325px;
    left: 375px;
    width: 370px;
    height: 50px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#wf-to-gf .parts1 {
    position: absolute;
    top: 325px;
    left: 1055px;
    width: 390px;
    height: 50px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#ltop8-to-lqf-1 .parts1 {
    position: absolute;
    top: 700px;
    left: 355px;
    width: 22px;
    height: 50px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#ltop8-to-lqf-1 .parts2 {
    position: absolute;
    top: 750px;
    left: 375px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#ltop8-to-lqf-2 .parts1 {
    position: absolute;
    top: 850px;
    left: 355px;
    width: 22px;
    height: 50px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#ltop8-to-lqf-2 .parts2 {
    position: absolute;
    top: 900px;
    left: 375px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#wsf-to-lqf-1 .parts1 {
    position: absolute;
    top: 700px;
    left: 375px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#wsf-to-lqf-2 .parts1 {
    position: absolute;
    top: 850px;
    left: 375px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#lqf-to-lsf .parts1 {
    position: absolute;
    top: 750px;
    left: 705px;
    width: 20px;
    height: 150px;
    border-top: solid 2px var(--tournament-bar-color);
    border-right: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#lqf-to-lsf .parts2 {
    position: absolute;
    top: 800px;
    left: 725px;
    width: 20px;
    height: 25px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#lsf-to-lf .parts1 {
    position: absolute;
    top: 775px;
    left: 1055px;
    width: 22px;
    height: 50px;
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#lsf-to-lf .parts2 {
    position: absolute;
    top: 825px;
    left: 1075px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#wf-to-lf .parts1 {
    position: absolute;
    top: 775px;
    left: 1075px;
    width: 20px;
    height: 25px;
    border-left: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

#lf-to-gf .parts1 {
    position: absolute;
    top: 375px;
    left: 1405px;
    width: 20px;
    height: 450px;
    border-right: solid 2px var(--tournament-bar-color);
    border-bottom: solid 2px var(--tournament-bar-color);
    box-sizing: border-box;
}

.hidden {
	display: none;
}